@using ArtDatabanken.Data
@using ArtDatabanken.WebApplication.AnalysisPortal.Managers.PageInfo
@using ArtDatabanken.WebApplication.AnalysisPortal.Utils.Helpers
@using Resources
@{
    string title = ViewBag.Title ?? "";
    if (SessionHandler.CurrentPage != PageInfoManager.GetPageInfo("Home", "Index"))
    {
        title = string.Format("{0}: {1}", Resource.AnalysisPortalTitlePrefix, title);
    }
}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<title>@title</title>
@if (ViewBag.Description != null)
{
<meta name="description" content="@ViewBag.Description" />
}

<link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />        
<meta name="viewport" content="width=device-width, initial-scale=1" />
@{
    // If Debug mode, enable optimization so a query string will be
    // generated in each import so the user gets the latest version
    // if any of the files in a bundle has changed.
    // Remove transforms so custom css and javascript files aren't
    // minified.
    if (ViewBag.Debug != null && ViewBag.Debug)
    {
        BundleTable.EnableOptimizations = true;
        foreach (Bundle bundle in BundleTable.Bundles)
        {
            bundle.Transforms.Clear();                
        }
    }
}


@Styles.Render("~/bundles/css")
        
@*<!-- Google font-family "Lato" normal - font-weight: 400  bold - font-weight: 700  ultra-bold - font-weight: 900 (used in settings-box) -->*@
@if (HttpContext.Current.Request.IsSecureConnection)
{
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
}
else
{
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>    
}
        
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->                
                        
@Scripts.Render(
    "~/bundles/extjs",
    "~/bundles/jquery-plugins",
    "~/bundles/bootstrap",
    "~/bundles/modernizr",
    "~/bundles/OpenLayersUtils",
    "~/bundles/AnalysisPortal"
)   
                        
@*Scripts.Render doesn't support querystrings in Debug mode => 
    don't use bundling in Debug mode. Use Url.DatedContent() instead *@
@if (ViewBag.Debug != null && ViewBag.Debug)
{
    <script type="text/javascript" src="@Url.DatedContent("/Scripts/dump/dump.js")"></script>
}

@Html.LocalizedJavaScriptImport("AnalysisPortal.Resources.js", SessionHandler.Language)        
@if (SessionHandler.Language == "sv-SE")
{
    <text><script src="@Url.Content("~/Scripts/extjs-4.2.1/locale/ext-lang-sv_SE.js")" type="text/javascript"></script></text>
}
@if (HttpContext.Current.Request.IsSecureConnection)
{
    <text><script src="https://maps.googleapis.com/maps/api/js?v=3.6&amp;sensor=false" type="text/javascript"> </script></text>
}
else
{
    <text><script src="http://maps.googleapis.com/maps/api/js?v=3.6&amp;sensor=false" type="text/javascript"> </script></text>
}
         
<script type="text/javascript">
    AnalysisPortal.ApplicationPath = '@Html.Raw(HttpContext.Current.Request.ApplicationPath)';
    if (AnalysisPortal.ApplicationPath == '/') {
        AnalysisPortal.ApplicationPath = '';
    }
    @if (SessionHandler.UserContext != null && SessionHandler.UserContext.User != null)
    {
        @:AnalysisPortal.CurrentUser = '@SessionHandler.UserContext.User.UserName';
    }
    var sessionTimoutInSeconds = '@Html.Raw(Session.Timeout * 60)';
    AnalysisPortal.initSessionTimeoutTimer(sessionTimoutInSeconds);
    AnalysisPortal.Language = '@Html.Raw(SessionHandler.Language)';  
            
    @if (ViewBag.RenderImageMode != null && ViewBag.RenderImageMode == true)
    {
        @:AnalysisPortal.GIS.CurrentCoordinateSystem = "EPSG:900913";
        @:AnalysisPortal.GIS.RenderImageMode = true;
    }
    else
    {
        @:AnalysisPortal.GIS.CurrentCoordinateSystem = '@SessionHandler.MySettings.Presentation.Map.PresentationCoordinateSystemId.EpsgCode()';    
    }
            
    console.log('Coordinate system: ' + AnalysisPortal.GIS.CurrentCoordinateSystem);
   

        @* Google analytics trace code *@
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-46073450-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

   
</script>