         <div class="btn-toolbar">
            <h3>@Resources.Resource.ButtonGroupResult</h3>
           @*<div class="btn-group">
                <a class="btn btn-info" data-toggle="button">
                    <i class="icon-question-sign icon-white"></i>
                </a>
            </div>*@
            <div class="infoBtn">
                @*<a class="" href="@Url.Action(Model.Action, Model.Controller)" rel="tooltip" title="help" data-toggle="button">*@
                <a href="#" title="help" data-toggle="button">
                    <i class="icon-question-sign icon-white"></i>
                </a>
                </div>
            <div class="btn-group">
                <a class="btn btn-warning btn-result" href="@Url.Action("Index", "Result")" >                    
                    @Resources.Resource.ButtonResultView
                    &nbsp;<i class="icon-bar-chart icon-white"></i>
                </a>
            </div>
            <div class="btn-group">
                <a class="btn btn-default" disabled="disabled" href="@Url.Action("Index", "Result")" >                    
                    @Resources.Resource.ButtonResultDownload
                    &nbsp;<i class="icon-download icon-white"></i>
                </a>
            </div>
        </div>
            @*<div class="btn-group">
                <a class="btn btn-warning btn-result" href="@Url.Action("Index", "Result")" >
                    <i class="icon-check-empty icon-white"></i>
                    View 
                     
                </a>
                <a class="btn btn-warning btn-result dropdown-toggle" href="#" data-toggle="dropdown">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu"> 
                    <li>
                        <a href="#">
                            <i class="icon-pencil"></i>
                            Edit
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-trash"></i>
                            Reset
                        </a>    
                    </li>
                </ul>
            </div>   *@

            @*<div class="btn-group">
                <a class="btn btn-warning btn-result" href="#" data-toggle="checkbox">
                    <i class="icon-check-empty icon-white"></i>  
                    Download
                </a>
                <a class="btn btn-warning btn-result dropdown-toggle" href="#" data-toggle="dropdown">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            <i class="icon-pencil"></i>
                            Edit
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-trash"></i>
                            Reset
                        </a>    
                    </li>
                </ul>
                
            </div> 

        </div>*@