@using ArtDatabanken.WebApplication.AnalysisPortal.Utils.Helpers
@using ArtDatabanken.WebApplication.AnalysisPortal.ViewModels.Calculation
@using Resources
@model ArtDatabanken.WebApplication.AnalysisPortal.ViewModels.Map.PresentationMapViewModel

@{
    ViewBag.Title = Resource.PresentationMapTitle;
}


<div class="titled-toolbar">
    @Html.Partial("BreadCrumbTitle_Partial", SessionHandler.CurrentPage)
    <div class="btn-toolbar page-toolbar">
        <button id="toolbarButtonSave" disabled="disabled" class="btn toolbarButton"><i class="icon-save"></i> &nbsp;@Resource.SharedSaveSettings</button>
        <button id="toolbarButtonReset" @if(Model.IsSettingsDefault) { <text>disabled="disabled"</text> }  class="btn toolbarButton"><i class="icon-trash"></i> &nbsp;@Resource.SharedResetSettings</button>        
    </div>
</div>

<table class="table-condensed">
    <tr>
        <td>
            <label for="presentationCoordinateSystemSelectList" style="font-weight: bold">
                @Resource.PresentationMapPresentationCoordinateSystem:
            </label>
        </td>
        <td>
            <select id="presentationCoordinateSystemSelectList" style="width:370px;">
                @foreach (CoordinateSystemViewModel coordinateSystem in Model.PresentationCoordinateSystems)
                {
                    <option value="@coordinateSystem.Id" @if (coordinateSystem.Selected) { <text> selected="selected" </text> }>@coordinateSystem.Name</option>
                }
            </select>            
        </td>
    </tr>
    <tr>
        <td>
            <label for="downloadCoordinateSystemSelectList" style="font-weight: bold">@Resource.PresentationMapDownloadCoordinateSystem:</label>
        </td>
        <td>
            <select id="downloadCoordinateSystemSelectList" style="width:370px;">
                @foreach (CoordinateSystemViewModel coordinateSystem in Model.DownloadCoordinateSystems)
                {
                    <option value="@coordinateSystem.Id" @if (coordinateSystem.Selected) { <text> selected="selected" </text> }>@coordinateSystem.Name</option>
                }
            </select>            
        </td>
    </tr>
    <tr>
        <td>
            <label for="gridMapsCoordinateSystemSelectList" style="font-weight: bold">@Resource.PresentationMapGridMapsCoordinateSystem:</label>
        </td>
        <td>
            <select id="gridMapsCoordinateSystemSelectList" style="width:370px;">
                @foreach (CoordinateSystemViewModel coordinateSystem in Model.GridMapsCoordinateSystems)
                {
                    <option value="@coordinateSystem.Id" @if (coordinateSystem.Selected) { <text> selected="selected" </text>  }>@coordinateSystem.Name</option>
                }
            </select>
        </td>
    </tr>

</table>

@*<p>@Resource.PresentationMapInfo</p>*@
<form method="POST" id="saveSettingsForm">    
    @Html.Hidden("data")
</form>

<script type="text/javascript">
    var showSaveSettingsMessageOnLeave = true;
    var strPageSettingsOnLoad = "";

    $(function () {
        strPageSettingsOnLoad = getPageSettingsJsonString();
        initToolbar();
        setInterval(enableDisableButtons, 500);
    });

    function initToolbar() {
        $('#toolbarButtonSave').click(function () {
            saveChanges();
        });
        $('#toolbarButtonReset').click(function () {
            showSaveSettingsMessageOnLeave = false;
            window.location = "@Url.Action("ResetMapSettings", new {returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery})";
        });
    }

    function saveChanges() {
        var data = getPageSettingsJsonString();
        var $frm = $('#saveSettingsForm');
        $frm.find('input[name=data]').val(data);
        showSaveSettingsMessageOnLeave = false;
        $frm.submit();
    }

    function enableDisableButtons() {
        var data = getPageSettingsJsonString();
        if (strPageSettingsOnLoad == data)
            $('#toolbarButtonSave').attr("disabled", true);
        else
            $('#toolbarButtonSave').attr("disabled", false);
    }

    $(window).bind('beforeunload', function () {
        if (showSaveSettingsMessageOnLeave) {
            var strData = getPageSettingsJsonString();
            if (strPageSettingsOnLoad != strData) {
                return AnalysisPortal.Resources.SharedLeavePageWithUnsavedSettings;
            }
        }
    });

    function getPageSettingsJsonString() {
        var pageSettings = getPageSettingsObject();
        var strJson = Ext.encode(pageSettings);
        return strJson;
    }

    function getPageSettingsObject() {
        var presentationCoordinateSystemId = $('#presentationCoordinateSystemSelectList').val();
        var downloadCoordinateSystemId = $('#downloadCoordinateSystemSelectList').val();
        var gridMapsCoordinateSystemId = $('#gridMapsCoordinateSystemSelectList').val();
        var data = {
            PresentationCoordinateSystemId: presentationCoordinateSystemId,
            DownloadCoordinateSystemId: downloadCoordinateSystemId,
            GridMapsCoordinateSystemId: gridMapsCoordinateSystemId
        };
        return data;
    }

</script>